	<!DOCTYPE html>
	<html>
	<head>

	    <meta charset="utf-8" />
	    <title>Grid Game</title>
	    <link rel="stylesheet" type="text/css" href="css/home.css">
	</head>
	<script src="/socket.io/socket.io.js"></script>
	<body>

	<canvas id="myCanvas" width="640" height="480"></canvas>
	<p><span id="cords">cords here</span> Wood = <span id = woodAmount>0</span>
		<br>
		<span id="gridValue"></span>
		<button id="chop">Chop Wood</button>
		<button id="wall">Place Wall</button>
		<button id="fight">Fight</button>


	</p>

	<script type="text/javascript" src="javascript/home.js"></script>

	</body> 
	</html>
