<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>Grid Game</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<script src="/socket.io/socket.io.js"></script>
<body>

<canvas id="myCanvas" width="640" height="480"></canvas>
<p><span id="cords">cords here</span><button id='eastChop'>Chop East Tree</button><button id="westChop"> Chop West Tree</button><button id="northChop"> Chop North Tree</button><button id="southChop"> Chop South Tree</button></p>

<script type="text/javascript" src="javascript/home.js"></script>

</body> 
</html>
