<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>Grid Game</title>
    <style>
    	* { padding: 0; margin: 0; }
    	canvas { background: #eee; display: block; margin: 0 auto; }
    </style>
</head>
<script src="/socket.io/socket.io.js"></script>
<body>

<canvas id="myCanvas" width="640" height="480"></canvas>
<p id="cords">cords here<p/>

<script type="text/javascript" src="javascript/home.js"></script>

</body> 
</html>